<div class="container d-flex">
  <div class="m-3 p-3 d-flex bg-white align-items-center h-3">
    <div class="m-2">
      <%= user_has_photo?%>
    </div>
    <div>
      <h6>
        <%="#{@user.first_name} #{@user.last_name}"%>
      </h6>
      <h6>
        <%= @user.email %>
      </h6>
    </div>
  </div>
  <div class="container p-3">
    <div class="card m-3 p-3">
      <h1>
        My computers
      </h1>
      <%
        #um each para os computadores do usuario
        #atalho para deletar computadores
        #atalho para ver todos os computadores
        #atalho para editar computadores
      %>
    </div>
    <div class="card m-3 p-3">
      <h1>
        <% #link_to "My Bookings", computer_bookings_path(@user.bookings.first.computer_id) %>
      </h1>
      <%
        #um each para os bookmarks do usuario
        #atalho para deletar bookmarks
        #atalho para ver todos os bookmarks
        #atalho para editar bookmarks
      %>
    </div>
  </div>
</div>
