<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/Skalle89"><img src ="https://avatars.githubusercontent.com/u/47088623?v=4"></a>
    <a href="https://github.com/Antoniofqn"><img src="https://avatars.githubusercontent.com/u/95364917?v=4"></a>
    <a href="https://github.com/GbMattos"><img src ="https://avatars.githubusercontent.com/u/81327277?v=4"></a>
    <a href="https://github.com/carloseglemos"><img src ="https://avatars.githubusercontent.com/u/33298430?v=4"></a>
  </div>
  <div class="footer-copyright">
    This fooootter is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
