<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/Antoniofqn"><i img src="https://avatars.githubusercontent.com/u/95364917?v=4"></i></a>
    <a href="https://github.com/GbMattos"><i img src="https://avatars.githubusercontent.com/u/81327277?v=4"></i></a>
    <a href="https://github.com/Skalle89"><i img src="https://avatars.githubusercontent.com/u/47088623?v=4"></i></a>
    <a href="https://github.com/carloseglemos"><i img src="https://avatars.githubusercontent.com/u/33298430?v=4"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
