<div class="container">
  <div class="row">
    <h1>Xablau is the premier computer renting platform in the web</h1>
  </div>
</div>
<% if user_signed_in? %>
  <%= current_user.email %>
<% end %>
<div class="container" id="home-cards">
  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://academy.avast.com/hubfs/New_Avast_Academy/Hackers/Hacker-Hero-a1.png)">
      Explore specs!
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://ak.picdn.net/shutterstock/videos/2498465/thumb/1.jpg)">
      Rent a computer!
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://tm.ibxk.com.br/2014/01/07/07161130683268.jpg?ims=1120x420)">
      Make money renting <br> your machine!
    </div>
  </div>
</div>
