.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(240, 236, 236, 0.774);
  display: flex;
  align-items: center;
  transition: 0.3s all ease-in-out;
  &:hover{
    box-shadow: 0 0 15px rgb(179, 178, 178);
  }
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product :hover {
  cursor: pointer;
}
