.navbar-lewagon {
  justify-content: space-between;
  background: #c57ac7;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

ul {
  text-align: center;
  display: inline-block;
}
